---
import { getCollection } from 'astro:content';
import PageLayout from '../layouts/PageLayout.astro';

const categories = (await getCollection('references'))
  .sort((a, b) => a.data.category.localeCompare(b.data.category));
---
<PageLayout title="References - JEA">
  {categories.length === 0 ? (
    <p class="text-center" style="color: var(--bs-secondary-color, #a5b3ce)">No references yet.</p>
  ) : (
    <div class="row g-4">
      {categories.map((cat) => (
        <div class="col-12 col-lg-6">
          <div class="ref-category">
            <h3 class="resume-section-heading text-uppercase py-2">
              <i class={`resume-section-heading-icon bi ${cat.data.icon} me-2`}></i>
              {cat.data.category}
            </h3>
            <ul class="list-unstyled">
              {cat.data.links.map((link) => (
                <li class="mb-3">
                  <a href={link.url} target="_blank" class="d-block fw-semibold">
                    <i class="bi bi-arrow-up-right-square me-1"></i>{link.title}
                  </a>
                  {link.description && (
                    <div class="small mt-1" style="color: #a5b3ce">{link.description}</div>
                  )}
                </li>
              ))}
            </ul>
          </div>
        </div>
      ))}
    </div>
  )}
</PageLayout>
